* {
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
}

a{
  color: white;
	transition: 0.5s;
}
a:hover{
  color: #FF0034;
  outline: none;
  text-decoration: none;
}

section{
  position: relative;
  height: 100%;
  display: flex;
  background-color: rgb(13, 10, 39);
}

section .screen{
  position: relative;
  flex-grow: 2;
  display: flex;
  justify-content:center;
  align-items: center;
  overflow: hidden;
  transition: 1s;
}

section .screen:nth-child(1)
{
  background:url("../img/event.png") top center no-repeat;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
}
section .screen:nth-child(2)
{
  background:url("../img/dj.png") top center no-repeat;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
}
section:hover .screen{
  opacity: 0.2;
}

section .screen:hover{
  flex-grow: 4;
  opacity: 1;
}

section .screen .content{
  position: relative;
  width: 250px;
  height: 250px;
  padding: 1.5%;
  transform: translate(100%);
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  margin-right: 10%;
}
section .screen .content:hover{
  transform: scale(0.8);
  transform: translate(100%);
  color: white;
}
section .screen:hover .content{
  margin-right: 0%;
  transform: translate(0);
  transition-delay: 0.5s;
  border-radius: 100%;
  border: solid white;
	box-shadow: 0 20px 55px rgba(0, 0, 0, 0.14), 0 15px 35px rgba(0, 0, 0, 0.14);
}

section .screen .content h2{
  margin-top: 62px;
  text-transform: uppercase;
  font-size: 25px;
  color: white;
}
